output/*
slides.html
slides.pdf
code/.bsp
code/.metals
code/.scala-build
code/.vscode
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp
.metals/
.bloop/
**/metals.sbt
*.semanticdb
.idea/
